<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="author" content="cheerml">
<title>Reading Group 2017 Fall</TITLE>
<p style="text-decoration:none">
<link rel="stylesheet" href="./css/style.css" type="text/css"></head>

<style type="text/css">
            div { 
                position: absolute;
                height: 80%; 
                width: 80%; 
                top: 10%; 
                left: 10%; 
                
            }
        </style>
</head>